

# Explicitly set rules for your critical data files
words/INFLECTS.LAT text eol=crlf
words/DICTLINE.GEN text eol=binary
**/*.ADDONS text eol=binary
**/*.UNIQUES text eol=binary
**/*.txt text eol=binary