**/.DS_Store

.idea

words/auto.cgpr
obwords/j/
words/bin/
words/lib/
words/_site/
words/WORD.MOD
words/WORD.MDV
words/DICTFILE.GEN
words/INDXFILE.GEN
words/INFLECTS.SEC
words/STEMFILE.GEN
words/CHECKEWD.
words/EWDSLIST.GEN
words/DICT.LOC
words/DICTFILE.LOC
words/STEMFILE.LOC
words/EWDSFILE.GEN
words/STEMLIST.GEN
words/src/latin_utils/latin_utils-config.adb
words/.gitignore